@namespace xml "http://www.w3.org/XML/1998/namespace";

@page {
	size: 35 28;
	@top-center {
		content: string(print-page-from, page-start) string(print-page-to, page-last-except-start);
	}
	@top-right {
		content: counter(page);
	}
}

pagenum {
	display: block;
	margin-top: 1;
	margin-bottom: 1;
	text-align: center;
	string-set: print-page-from content(), print-page-to ' - ' content();
}

head {
	display: none;
}

book {
	hyphens: auto;
}

p {
	display: block;
}

hd, h1, h2, h3, h4, h5, h6 {
	display: block;
	margin-bottom: 1;
	page-break-after: avoid;
	text-indent: -2;
}

level,
level1, level2, level3,
level4, level5, level6,
frontmatter, bodymatter, rearmatter {
	display: block;
	page-break-before: always;
	page-break-after: always;
}

doctitle, docauthor {
	margin-bottom: 2;
}

code {
	hyphens: none;
}

[xml|space=preserve] {
	white-space: pre-wrap;
}
